body{
    background-color: black;
    text-align: center;
    border: 2px solid aqua;
}
h1{
    text-align: center;
    color: aqua;
}
#project1{
    border-color:aqua;
    color: blue;
    border-radius: 5px;
    width: 500px;
    text-align: center;
    margin-left: 500px;
    
}
#project10{
    border-color:aqua;
    border-radius: 2px;
}
#project11{
    border-color:aqua;
    border-radius: 2px;
}
#project12{
    border-color:aqua;
    border-radius: 2px;
}
#project13{
    border-color:aqua;
    border-radius: 2px;
}
button{
    color: blue;
    border-color: aqua;
    border-radius: 2px;
    
}
input{
    border-color: aqua;
    border-radius: 2px;

}