
/* #first{
            color: brown;
            font-size:35px;

        }
#second{
            color: green;
            font-size: 35px;
        }
.Third{
    color: green;
    font-size: 35px;
}
h1,h2,h3,h4{
    color: red;
} */


/* background color */
#first1{
    height: 100px;
    background-color: aqua;
}
#secon{
    height: 100px;
    background-color: brown;
}
button{
    height: 100px;
    width: 100px;
    background-color: aqua;
}